<!DOCTYPE html>
<html>
<head>
  <title>CMS</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="http://localhost:3000/home">Conten Management System</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="http://localhost:3000/home">Home</a></li>
          <li><a href="http://localhost:3000/data">Data</a></li>
          <li><a href="http://localhost:3000/dataDate">Data Date</a></li>
          <li><a href="http://localhost:3000/maps">Maps</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#" id="logout">Logout</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div class="container">
    <div class="jumbotron">
    </div>
  </div>

  <script type="text/javascript">
  let apiUrl = `http://localhost:3001/api/users`

  function auth(token){
    $.ajax({
      url: apiUrl + '/check',
      method: 'POST',
      data:{
        token: token
      }
    }).done(data => {
      if(!data.valid){
        window.location = '/login';
      }
    })
  }

  function drawHeader(email){
    let html = `<h2>Wellcome,</h2> <h2>${email}</h2>`;
    $('.jumbotron').html(html);
  }

  $('#logout').click(function(e){
    e.preventDefault();
    localStorage.clear();
    window.location = '/login';
  })

  $(document).ready(function(){
    auth(localStorage.getItem('token'));
    drawHeader(localStorage.getItem('email'));
  })
</script>
</body>
</html>
