<!DOCTYPE html>
<html>
<head>
  <title>CMS</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
  <div class="container">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Wellcome to dashboard</h3>
      </div>
      <div class="panel-body text-center">
        <a href="http://localhost:3000/line" class="btn btn-danger" style="width:100%; margin-bottom:5px">
          <span class="glyphicon glyphicon-signal"></span>
          <p>Line</p>
        </a>
        <a href="http://localhost:3000/pie" class="btn btn-warning" style="width:100%; margin-bottom:5px">
          <span class="glyphicon glyphicon-cd"></span>
          <p>Pie</p>
        </a>
        <a href="http://localhost:3000/bar" class="btn btn-primary" style="width:100%; margin-bottom:5px">
          <span class="glyphicon glyphicon-stats"></span>
          <p>Bar</p>
        </a>
        <a href="http://localhost:3000/mapsview" class="btn btn-success" style="width:100%; margin-bottom:5px">
          <span class="glyphicon glyphicon-globe"></span>
          <p>Maps</p>
        </a>
        <a href="http://localhost:3000/login" class="btn btn-info" style="width:100%; margin-bottom:5px">
          <p class="glyphicon glyphicon-user"></p>
          Admin Panel
        </a>
      </div>
    </div>

  </div>
</body>
</html>
