<!DOCTYPE html>
<html>
<head>
  <title>CMS</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <style media="screen">
  .navbar-brand:hover{
    background-color: #000;
    text-shadow: 2px 2px 5px #000;
  }
  </style>
</head>
<body>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="http://localhost:3000/"><span class="glyphicon glyphicon-arrow-left"> Dashboard</span>
        </a>
      </div>
    </div><!-- /.container-fluid -->
  </nav>

  <div class="container">
    <div id="chart_div"></div>
  </div>

  <script type="text/javascript">
  let apiUrl = `http://localhost:3001/api/datadate/`;
  $(document).ready(function(){
    google.charts.load('current', {packages: ['corechart', 'line']});
    google.charts.setOnLoadCallback(drawBasic);

    function drawBasic() {
      $.ajax({
        url: apiUrl,
        method: 'GET'
      }).done(data => {
        let listdata = [];
        listdata.push(['Year', 'Data']);
        let itemchart;
        let d;
        data.forEach(item=>{
          itemchart = [];
          d = new Date(item.letter)
          itemchart.push(`${d.getFullYear()}`);
          itemchart.push(item.frequency);
          listdata.push(itemchart);
        })
        console.log(JSON.stringify(listdata));
        var data = google.visualization.arrayToDataTable(listdata);
      // let listdata = [["2012",12], ["2012",12], ["2012",12], ["2012",12]];
      // console.log(JSON.stringify(listdata));
      // var data = google.visualization.arrayToDataTable(listdata);

      var options = {
        hAxis: {
          title: 'Year'
        },
        vAxis: {
          title: 'Frequency'
        }
      };

      var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

      chart.draw(data, options);

      })
    }
  })
  </script>


</body>
</html>
