<!DOCTYPE html>
<html>
<head>
  <title>CMS</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="http://localhost:3000/"><span class="glyphicon glyphicon-arrow-left"> Dashboard</span>
        </a>
      </div>
    </div><!-- /.container-fluid -->
  </nav>

  <div class="container-fluid" style="margin-top:10%">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">

        <div class="panel panel-primary">
          <div class="panel-heading">
            <div class="row text-center">
              <div class="col-md-6"><b class="panel-title">Login</b></div>
              <div class="col-md-6"><a href="http://localhost:3000/register"  style="color:white; text-decoration:underline"><h2 class="panel-title">Register</h2></a></div>
            </div>
          </div>
          <div class="panel-body">
            <form id="login-form">
              <div class="form-group">
                <label for="email" class="text-left">Email address</label>
                <input type="email" class="form-control" id="email" placeholder="Email" required>
              </div>
              <div class="form-group">
                <label for="pass">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password" required>
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
        </div>

      </div>
      <div class="col-md-4"></div>
    </div>

  </div>
  <script type="text/javascript">
  let apiUrl = `http://localhost:3001/api/users`
  function login(){
    $.ajax({
      url: apiUrl + '/login',
      method: 'POST',
      data: {email : $('#email').val(), password: $('#password').val()}
    }).done(data=>{
      if(data.token){
        localStorage.setItem('token', data.token);
        localStorage.setItem('email', data.data.email);
        window.location = "/home";
      }else{
        alert(data.message);
      }
    }).fail(err=>{
      alert(`something went wrong, ${JSON.stringify(err)}`);
    })
  }

  $('#login-form').submit(function(e){
    e.preventDefault();
    login();
    $(this).find("input[type=email], input[type=password]").val('')
  })
  </script>
</body>
</html>
