<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <title>Marker Clustering</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <style>
  /* Always set the map height explicitly to define the size of the div
  * element that contains the map. */
  #map {
    height: 100%;
  }
  /* Optional: Makes the sample page fill the window. */
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  </style>
</head>
<body>
  <div id="map"></div>
  <script>

  function initMap() {
    let apiUrl = `http://localhost:3001/api/maps/`;
    $.ajax({
      url: apiUrl,
      method: 'GET'
    }).done(data => {
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 3,
        center: {lat: -28.024, lng: 140.887}
      });
      console.log(data);
      var markers = data.map(function(place, i) {
        return new google.maps.Marker({
          position: {lat: place.lat, lng: place.lng},
          label: place.title
        });
      });
      var markerCluster = new MarkerClusterer(map, markers,
        {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
      })
    }
    </script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDeFmi0OAfaOrHVS7tzmBcl_xqC26B6HYM&callback=initMap">
    </script>
  </body>
  </html>
